*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
}
